*{
    text-align: center;
    font-size: 30px;
}
body{
    color: rgb(185, 255, 206);
}
img{
    width: 80%;
    padding-top: 4% 
}   

.out{
    border-style: solid;
    border-width: 90px;
    border-left-width: 100px;
    border-right-width: 100px;
    border-color: #0a363f;
}
p{
    text-align: left;
    color: darkslategrey;
    margin: 5%;
}

li{
    text-align: left;
    color: darkslategrey;
    margin: 5%;
}
h1{
    text-align: left;
    color: #045667;
    margin: 5%;
}
h3{
    text-align: left;
    color: #1c6b81;
    margin: 5%;
}
.special{
    text-align: left;
    color: #1c6b81;
    margin: 5%;
}